var message_sent = '<p>Your testimonial was sent. We will carefully read it. Thank you! <i class="fa fa-smile-o"></i></p>';

$('#give-testimonial-mailer-wrapper').find('form').hide();
$('#give-testimonial-mailer-wrapper').append(message_sent);