var error = '<p>A nasty error has occured. <i class="fa fa-frown-o"></i> We will be grateful if you let us know to ant.khay@gmail.com.</p>'

$('#book-accommodation-wrapper').find('.bttn.action.primary').before(error);