.sidebar-wrapper
  #sidebar
    = render "shared/sidebar/features" if current_page?(root_url)
    .sidebar-unit
      = render "shared/hello", text: "Say hello <i class='fa fa-hand-paper-o'></i>"
    %hr/
    = render "shared/sidebar/gallery"
    