.sidebar-unit
  %h3 Qualified Instructors
  = image_tag "sidebar-instructors.jpg", class: "sidebar-image"
.sidebar-unit
  %h3 The Latest Equipment
  = image_tag "sidebar-equipment.jpg", class: "sidebar-image"