%ul.aligner
  %h1 Contacts
  %li
    = render "shared/hello_button", text: "Say hello <i class='fa fa-hand-paper-o'></i>"
  %li
    info@balilearntosurf.com
  %li.phone-short
    +62 361-761-869
  %li
    +62 361-79-22-922
  %li.address
    Jl. Jend. Sudirman Kav 25, Hard Rock Hotel, Kuta, Kabupaten Badung, Bali