/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 *= require bxslider
 *= require magnific-popup
 *= require froala_editor.min.css
 *= require froala_style.min.css
 *= require font-awesome
 *= require plugins/char_counter.min.css
 *= require plugins/code_view.min.css
 *= require plugins/colors.min.css
 *= require plugins/emoticons.min.css
 *= require plugins/file.min.css
 *= require plugins/fullscreen.min.css
 *= require plugins/image_manager.min.css
 *= require plugins/image.min.css
 *= require plugins/line_breaker.min.css
 *= require plugins/table.min.css
 *= require plugins/video.min.css
 *= require_self
 */


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a, a img {
	border: none;
}
* {
  outline: none;
}



@import "bootstrap-sprockets";
@import "bootstrap";


$field_types: "input[type=text], input[type=file], input[type=number], textarea, input[type=email], input[type=phone], input[type=password]";

// Basic Colors
$white_opaque: rgba(250, 250, 259, 0.85);
$wrapper_shadow: 0 0 15px 5px rgba(0,0,0,0.1);
$content_link: #206EC1;
$content_link_active: #0D8A65;
$nav_link_active: #184779;
$mobile_menu_underscore_active: #458DDA;
$button_bg: linear-gradient(40deg, #3D819A 10%, #0A9A8D 100%);
$button_bg_active: linear-gradient(40deg, #37758C 10%, #0A8277 100%);
$button_footer_bg: linear-gradient(40deg, #428FAB 10%, #0D9A8D 100%);
$button_footer_bg_active: linear-gradient(40deg, #3E86A0 10%, #0B9689 100%);
$button_primary_bg: linear-gradient(40deg, #DA9742 10%, #E86137 100%);
$button_primary_bg_active: linear-gradient(40deg, #B38041 10%, #AB553B 100%);

// Teal Theme
$body_bg: linear-gradient(40deg, 
  rgba(61, 106, 154, 1) 10%, rgba(10, 154, 110, 1) 100%);
$mobile_menu_underscore: #27B38A;
$footer_bg: rgba(50, 50, 50, 0.5);
$footer_link: #3B9BEC;
$footer_link_active: #21B789;
$social_icons: #2D86D2;

// Orange Theme
$body_bg: linear-gradient(40deg,
  rgba(236, 157, 59, 1) 10%, rgba(224, 80, 42, 1) 100%);
$mobile_menu_underscore: #E65832;
$footer_bg: linear-gradient(40deg, 
  rgba(61, 106, 154, 1) 10%, rgba(10, 154, 110, 1) 100%);
$footer_link: #FFA865;
$footer_link_active: rgba(255, 168, 101, 0.7);
// #2CDCA5;
$social_icons: #D89562;
$content_attractor: #E2481E;


@mixin transition($property, $time, $effect) {
  -webkit-transition: $property $time $effect;
  -moz-transition: $property $time $effect;
  -o-transition: $property $time $effect;
  transition: $property $time $effect;
}

.basic-image {
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
  border-radius: 3px;
  &.fullwidth {
    width: 100%;
  }
//  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.35);
}



body {
	background: $body_bg;
	font-family: 'PT Sans';
	background-attachment: fixed;
}

h1 {
	font-family: 'Pacifico';
  font-size: 4.8rem;
}

h2 {
  font-size: 2.8rem;
  margin-bottom: 18px;
}

h3 {
  font-size: 2.2rem;
}

h4 {
  font-size: 1.8rem;
}

h2 + h3 {
  margin: -10px 0 20px 0;
}

p {
  font-size: 1.6rem;
}

td {
  font-size: 1.6rem;
  padding: 4px 7px;
  border: 1px solid #DACBC3;
}
@media (max-width: 768px) {
  td {
    font-size: 1.4rem;
    padding: 1px 2px;
  }
}
@media (max-width: 595px) {
  td {
    font-size: 1.2rem;
    padding: 1px;
  }
}

a {
  @include transition(all, 0.2s, ease-out);
  text-decoration: none;
  color: $content_link;
  font-size: 1.6rem;
  &:hover, &:active, &:focus {
    text-decoration: none;
    color: $content_link_active;
    outline: 0;
  }  
}

li {
  font-size: 1.6rem;
}

.field {
  margin-bottom: 20px;
}

#{$field_types} {
  font-size: 1.6rem;
  width: 100%;
  border: 0;
  padding: 8px 14px;
  border-radius: 3px;
  color: #333333;
  vertical-align: top;
  background-color: #fff;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

form {
  input[type="checkbox"] {
    margin-top: 2px !important;
    margin-left: -25px !important;
  }
}

label {
  font-size: 1.6rem;
  &.checkbox {
    margin-left: 25px;
    line-height: 1.5;
  }
}

hr {
  border-color: rgba(119, 119, 119, 0.6);
  margin-top: 40px;
  margin-bottom: 40px;
}

.bttn, a.bttn, #footer a.bttn {
  @include transition(all, 0.2s, ease-out);
  text-align: center;
  display: block;
  color: #fff;
  font-size: 1.6rem;
  border: 0;
  border-radius: 3px;
  padding: 8px 14px;
  cursor: pointer;
  background: $button_bg;
  &:hover {
    opacity: 0.9;
    color: #fff;
  }
  &:active {
    opacity: 1;
    background: $button_bg_active;
  }
  &.footer {
    background: $button_footer_bg;
    &:active {
      opacity: 1;
      background: $button_footer_bg_active;
    }
  }
  &.primary {
    background: $button_primary_bg;
    &:active {
      opacity: 1;
      background: $button_primary_bg_active;
    }
  }
  &.action {
    font-size: 1.8rem;
    width: 100%;
  }
  &.inline {
    display: inline;
  }
  &.grey {
    background: #9E9E9E;
  }
}

.subscribed {
  color: #fff;
  font-size: 1.8rem;
  border: 0;
  border-radius: 3px;
  padding: 8px 14px;
  background: $button_footer_bg;
  width: 100%;
  display: block;
  text-align: center;
} 

.clearfix:after { 
	content: ""; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}

.helement {
  visibility: hidden;
  position: absolute;
}

.floating-button {
	height: 54px;
	width: 54px;
	background-color: rgba(60, 63, 79, 0.75);
	position: fixed;
	z-index: 999;
	border-radius: 50%;
	cursor: pointer;
	@include transition(all, 0.2s, ease-out);
	display: block;
	box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
	&:hover {
		box-shadow: 0 0 6px rgba(0,0,0,.20), 0 6px 12px rgba(0,0,0,.36);
	}
}

#to-top {
	@extend .floating-button;
	display: none;
	z-index: 997;
	top: calc(50% - 27px);
	right: 24px;
	@include transition(box-shadow, 0.2s, ease-out);
	.glyphicon {
		font-size: 29px;
		color: $white_opaque;
		position: absolute;
		top: 13px;
		left: 11px;
	}
}

#header {
	margin: 0 2.5%;
}

#descript {
	padding: 88px 0 92px 8%;
	margin: 0;
	color: $white_opaque;
	float: left;
  position: relative;
  a {
    color: $white_opaque;
    h1 {
      font-size: 6rem;
      margin: 0;
    }
    h3 {
      font-size: 2.5rem;
      margin: 0;
      font-family: 'Pacifico'
    }
  }
}
@media (max-width: 834px) {
	#descript {
    padding: 88px 0 92px 0;
		float: none;
		max-width: 460px;
		margin: 0 auto;
	}
}
@media (max-width: 640px) {
	#descript {
    max-width: 350px;
    a {
      h1 {
        font-size: 4.5rem;
      }
      h3 {
        font-size: 2rem;
      }
    }
	}
}
@media (max-width: 500px) {
	#descript {
    max-width: 270px;
    a {
      h1 {
        font-size: 3.5rem;
      }
      h3 {
        font-size: 1.8rem;
      }
    }
	}
}

.page-wrapper {
	margin: 0px auto;
	max-width: 1650px;
	position: relative;
}

.block-wrapper {
	background-color: $white_opaque;
	box-shadow: $wrapper_shadow;
	border-radius: 7px;
}

.main-content-wrapper {
	@extend .block-wrapper;
	width: calc(95% - 2.5% - 300px);
	float: left;
	margin: 0 2.5% 70px 2.5%;
	padding: 60px 8% 80px 8%;
}

.sidebar-wrapper {
	@extend .block-wrapper;
	width: 300px;
	float: left;
	margin: 0 2.5% 70px 0;
	padding: 60px 35px 60px 35px;
}
@media (max-width: 990px) {
  .main-content-wrapper {
    width: 95%;
    padding: 50px 8% 60px 8%;
  }
  .sidebar-wrapper {
    display: none;
  }
}

#main-nav {
	float: right;
	padding: 110px 0 0 0; 
	ul {
		margin-left: 20px;
		li {
			float: left;
			list-style: none;
			padding: 0 0 5px 15px;
			a {
				color: $white_opaque;
				border-bottom: 2px solid $white_opaque;
        font-size: 2.2rem;
				&:hover, &.active, &:focus {
					color: $nav_link_active;
					border-bottom: 2px solid $nav_link_active;
				}
			}
		}
	}
}
@media (max-width: 1390px) {
	#main-nav {
		float: right;
		padding: 27px 66px 0 0; 
		ul {
			li {
				float: none;
				padding-left: 0px;
			}
		}
	}
}
@media (max-width: 834px) {
	#main-nav {
		position: fixed;
		z-index: 998;
		width: 100%;
		height: 100%;
		background-color: rgba(60, 63, 79, 0.95); 
		top: 0;
		left: -100%;
		@include transition(left, 0.3s, ease);
		ul {
			li {
				position: relative;
				padding: 0 0 25px 15px;
				a {
					border: 0px;
          font-size: 2.5rem;
					&:hover, &.active, &:focus {
						color: $white_opaque;
						border-bottom: 0;
					}
				}
				&:after {
					content: '';
					position: absolute;
					left: 15px;
					bottom: 20px;
					height: 3px;
					width: 60px;
					background-color: $mobile_menu_underscore;
				}
				&:hover {
					&:after {
						background-color: $mobile_menu_underscore_active;
					}
				}
			}
		}
		&.active {
			left: 0;
		}
	}	
}


// Styling Google Translate

#google_translate_element {
  width: 54px;
  height: 54px;
}
.goog-te-gadget-simple {
  border-left: 0px !important;
  border-right: 0px !important;
  border-top: 0px !important;
  border-bottom: 0px !important;
  img {
    display: none;
  }
  span {
    display: none;
  }
  background-color: transparent !important;
  background-image: url(image_path('gtranslate.png'));
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: center;
  width: 54px;
  height: 54px;
}

.lang-toggle {
	@extend .floating-button;
	top: 24px;
	right: 24px;
  z-index: 996;
	-webkit-transform: scale(1);
	transform: scale(1);
	&.active {
		background-color: $white_opaque;
	}
}
@media (max-width: 834px) {
  .lang-toggle {
    top: 95px;
  }
}

.nav-toggle {
	@extend .floating-button;
	top: 24px;
	right: 24px;
	-webkit-transform: scale(1);
	transform: scale(1);
	&.active {
		background-color: $white_opaque;
	}
}
@media (min-width: 834px) {
	.nav-toggle {
		display: none;
	}
}

.bar {
	background-color: #D4D4DC;
	width: 24px;
	height: 3px;
	border-radius: 5px;
	right: 15px;
	top: 18px;
	&.active {
		background-color: #3C404F;
	}
}

.first {
	position: absolute;
  @include transition(all, 0.2s, ease-out);
	&.active {
		margin-top: 8px;
		-webkit-transform-origin: 50% 50%;
		-moz-transform-origin: 50% 50%;
		-o-transform-origin: 50% 50%;
		-ms-transform-origin: 50% 50%;
		transform-origin: 50% 50%;
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
		-webkit-transition: all 0.2s ease-out;
	}
}

.second {
	margin-top: 8px;
	position: absolute;
	@include transition(all, 0.2s, ease-out);
	&.active {
		opacity: 0;
		margin-top: 8px;
		@include transition(all, 0.2s, ease-out);
	}
}

.third {
	margin-top: 16px;
	position: absolute;
	@include transition(all, 0.2s, ease-out);
	&.active {
		margin-top: 8px;
		-webkit-transform-origin: 50% 50%;
		-moz-transform-origin: 50% 50%;
		-o-transform-origin: 50% 50%;
		-ms-transform-origin: 50% 50%;
		transform-origin: 50% 50%;
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		transform: rotate(-45deg);
		@include transition(all, 0.2s, ease-out);
	}
}

// Main Content

#main-content {
  position: relative;
  h1 {
    margin: 20px 0 50px 0;
  }
  h1 + .sub-header {
    margin: -35px 0 50px 0;
  }
  ul {
    li {
      list-style: disc;
      margin-left: 20px;
    }
  }
}

.corner-link {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  i {
    font-size: 3rem;
  }
  &.offset-1 {
    right: 40px;
  }
  &.danger:hover {
    color: red;
  }
}

.admin-link {
  font-size: 1.6rem;
  margin-left: 15px;
  line-height: 2;
}

.fr-toolbar {
  border-top: 1px solid #B7C7CB;
}

.bx-wrapper {
  @extend .basic-image;
  border: 0;
//  box-shadow: 0 2px 12px rgba(0,0,0,.35);
  background: transparent;
  a {
    @include transition(all, 0s, ease-out);
  }
  li {
    margin-left: 0px !important;
  }
  .bx-viewport {
    border-radius: 3px;
  }
}

.bx-wrapper .bx-pager.bx-default-pager a {
  background: $content_link;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus {
  background: $content_link_active;
}

.bx-prev, .bx-next {
  opacity: 0.6;
  &:hover {
    opacity: 0.8;
  }
  z-index: 997 !important;
}

#contact-form-wrapper {
  textarea {
    height: 200px;
    margin-bottom: 0px;
  }
  .bttn.action.primary {
    width: auto;
  }
}

.article {
  position: relative;
  margin-bottom: 60px;
  .corner-link {
    i {
      font-size: 2.5rem;
    }
    &.offset-1 {
      right: 35px;
    }
  }
  h2 {
    margin-bottom: 18px;
  }
  ul {
    li {
      list-style-position: inside !important;
    }
  }
  .thumb {
    @extend .basic-image;
    padding: 0;
    margin: 0 30px 20px 0;
  }
  .prices {
    color: $content_attractor;
    margin-top: 15px;
    h3 {
      margin: 0 0 5px 0;
    }
  }
  &:last-child {
    margin-bottom: 0;
  }
}
@media (max-width: 767px) {
  .article {
    ul {
      li {
        list-style-position: outside !important;
      }
    }
    .thumb {
      margin: 0 0 20px 0;
      float: none;
    }
    .prices {
      float: left;
    }
    .bttn {
      float: right;
      width: auto !important;
    }
  }
}

.page-main-image {
  @extend .basic-image;
  width: 100%;
  margin-bottom: 20px;
  &.simple-page-image {
    margin-bottom: 50px;
  }
}
@media (max-width: 599px) {
  .page-main-image {
    &.simple-page-image {
      margin-bottom: 30px;
    }
  }
}

.surf-course, .surfari, .accommodation {
  @extend .article;
}

.testimonial {
  @extend .article;
  margin: 0;
  h3 {
    text-align: left;
  }
  .corner-link {
    top: auto;
    bottom: 9px;
    i {
      font-size: 2.5rem;
    }
    &.offset-1 {
      right: 35px;
    }
  }
}

#testimonial_content {
  height: 200px;
}

#pictures {
  .links {
    margin-top: 20px; 
  }
}

.add-pictures {
  margin-top: 20px;
  .field {
    position: relative;
    overflow: hidden;
  }
  .corner-link {
    top: -18px;
    right: 0;
  }
  input[type="file"] {
    position: absolute;
    top: 0;
    opacity: 0.8;
    border-radius: 0;
  }
}

.gallery-image {
  padding: 15px;
}


// Sidebar

#sidebar {
  h3 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2.4rem
  }
  li {
    margin-bottom: 5px;
  }
  &:first-child {
    h3 {
      margin-top: 0px;
    }
  }
}

.sidebar-unit {
  width: 100%;
  margin-bottom: 40px;
  &:last-child {
    margin-bottom: 0px;
  }
}

.friends-link {
  display: block;
  float: left;
  margin: 0 10px 10px 0;
  opacity: 0.80;
  width: 70px;
  height: 70px;
  img {
    width: 100%;
  }
  &:last-child {
    margin-right: 0;
  }
  &:hover {
    opacity: 1;
  }
}


// Footer

.footer-wrapper {
  padding: 0 2.5%;
}

#footer {
	background: $footer_bg;
	width: 100%;
  padding: 40px 0 0 0;
  a {
    color: $footer_link;
    &:hover, &:active, &:active {
      color: $footer_link_active;
    }
  }
  h1, h3, p {
    color: $white_opaque;
  }
  button, .bttn.action {
    line-height: 1.4;
  }
}

.footer-blocks{
  margin: 0 0 40px 0;
  h1 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 40px;
  }
  h3 {
    font-family: 'PT Sans'
  }
  ul {
    li {
      color: $white_opaque;
      font-size: 2rem;
    }
  }
}
@media (max-width: 768px) {
  .footer-blocks {
    margin: 0 0 50px 0;
    h1 {
      margin-bottom: 30px;
    }
  }
}
@media (max-width: 360px) {
  .footer-blocks {
    &:last-child {
      margin-bottom: 20px;
    }
  }
}

.divider{
  width: 100%;
  height: 1px;
}

#contacts {
  line-height: 1.8;
  .address {
    margin: 10px 0 0px 0;
    font-size: 1.6rem;
    line-height: 1.4;
  }
  .phone-short {
    margin-left: -19px;
  }
  li {
    text-align: center;
  }
  button {
    margin-bottom: 10px;
  }
  .aligner {
    max-width: 250px;
    margin: 0 auto;
  }
  .say-hello {
    margin-bottom: 10px;
  }
}

#social {
  a {
    i {
      @include transition(all, 0.2s, ease-out);
      font-size: 4rem;
      color: $social_icons;
      &:hover, &:active, &:active {
        color: $footer_link_active;
      }
    }
    margin-right: 15px;
    &:last-child {
      margin-right: 0;
    }
  }
  .aligner {
    margin: 0 auto;
    max-width: 275px;
  }
}
@media (max-width: 1300px) {
  #social {
    a {
      i {
        font-size: 3.5rem;
      }
      margin-right: 13px;
    }
    .aligner {
      max-width: 250px;
    }
  }
}
@media (max-width: 1199px) {
  #social {
    a {
      i {
        font-size: 4rem;
      }
      margin-right: 15px;
    }
    .aligner {
      max-width: 275px;
    }
  }
}

#newsletter {
  #{$field_types} {
    font-size: 1.8rem;
    background: $white_opaque;
  }
  .description {
    font-size: 1.245rem;
    white-space: nowrap;
  }
  .aligner {
    margin: 0 auto;
    max-width: 280px;
  }
  .field {
    margin-bottom: 27px;
  }
}
@media (max-width: 1440px) {
  #newsletter {
    .aligner {
      max-width: 250px;
    }
    .description {
      font-size: 1.13rem;
    }
  }
}
@media (max-width: 1199px) {
  #newsletter {
    .aligner {
      max-width: 280px;
    }
    .description {
      font-size: 1.26rem;
    }
  }
}

#testimonials {
  .name {
    float: left;
  }
  .link {
    float: right;
    font-size: 1.8rem;
    margin-top: 19px;
    color: $footer_link;
  }
  .aligner {
    max-width: 350px;
    margin: 0 auto;
  }
}
@media (max-width: 450px) {
  #testimonials {
    .aligner {
      padding: 0 30px;
    }
  }
}
@media (max-width: 330px) {
  #testimonials {
    .aligner {
      padding: 0;
    }
  }
}

#google-map {
  height: 400px;
  width: 100%;
  margin: 20px 0 0 0;
}

#copy {
  float: left;
  margin: 10px 0;
}

#credits {
  float: right;
  margin: 10px 0;
}
@media (max-width: 550px) {
  #copy, #credits {
    float: none;
    text-align: center;
    margin: 15px 0;
  }
}