/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 *= require bxslider
 *= require froala_editor.min.css
 *= require froala_style.min.css
 *= require font-awesome
 *= require plugins/char_counter.min.css
 *= require plugins/code_view.min.css
 *= require plugins/colors.min.css
 *= require plugins/emoticons.min.css
 *= require plugins/file.min.css
 *= require plugins/fullscreen.min.css
 *= require plugins/image_manager.min.css
 *= require plugins/image.min.css
 *= require plugins/line_breaker.min.css
 *= require plugins/table.min.css
 *= require plugins/video.min.css
 *= require_self
 */


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a, a img {
	border: none;
}
* {
  outline: none;
}



@import "bootstrap-sprockets";
@import "bootstrap";


// Basic Colors
$white_opaque: rgba(250, 250, 259, 0.8);
$wrapper_shadow: 0 0 15px 5px rgba(0,0,0,0.1);
$content_link: #206EC1;
$content_link_active: #0D8A65;
$nav_link_active: #184779;
$mobile_menu_underscore_active: #458DDA;
$button_primary_bg: linear-gradient(40deg, #3D819A 10%, #0A9A8D 100%);
$button_primary_bg_active: linear-gradient(40deg, #37758C 10%, #0A8277 100%);

// Teal Theme
$body_bg: linear-gradient(40deg, 
  rgba(61, 106, 154, 1) 10%, rgba(10, 154, 110, 1) 100%);
$mobile_menu_underscore: #27B38A;
$footer_bg: rgba(50, 50, 50, 0.5);
$footer_link: #3B9BEC;
$footer_link_active: #21B789;
$social_icons: #2D86D2;

// Orange Theme
$body_bg: linear-gradient(40deg,
  rgba(236, 157, 59, 1) 10%, rgba(224, 80, 42, 1) 100%);
$mobile_menu_underscore: #E65832;
$footer_bg: linear-gradient(40deg, 
  rgba(61, 106, 154, 1) 10%, rgba(10, 154, 110, 1) 100%);
$footer_link: #FFA865;
$footer_link_active: #2CDCA5;
$social_icons: #D89562;


@mixin transition($property, $time, $effect) {
  -webkit-transition: $property $time $effect;
  -moz-transition: $property $time $effect;
  -o-transition: $property $time $effect;
  transition: $property $time $effect;
}



body {
	background: $body_bg;
	font-family: 'PT Sans';
	background-attachment: fixed;
}

h1 {
	font-family: 'Pacifico';
}

p {
  font-size: 1.6rem;
}

td {
  font-size: 1.6rem;
  padding: 4px 7px;
  border: 1px solid #DACBC3;
}
@media (max-width: 768px) {
  td {
    font-size: 1.4rem;
    padding: 1px 2px;
  }
}
@media (max-width: 595px) {
  td {
    font-size: 1.2rem;
    padding: 1px;
  }
}

a {
  @include transition(all, 0.2s, ease-out);
  text-decoration: none;
  color: $content_link;
  font-size: 1.6rem;
  &:hover, &:active, &:focus {
    text-decoration: none;
    color: $content_link_active;
  }  
}

li {
  font-size: 1.6rem;
}

.field {
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 5px 7px;
  font-size: 1.6rem;
  width: 100%;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

form {
  input[type="checkbox"] {
    margin-top: 2px !important;
    margin-left: -25px !important;
  }
}

label {
  font-size: 1.6rem;
  &.checkbox {
    margin-left: 25px;
    line-height: 1.5;
  }
}

hr {
  border-color: rgba(119, 119, 119, 0.6);
  margin-top: 30px;
  margin-bottom: 30px;
}

.bttn {
  @include transition(all, 0.2s, ease-out);
  color: #fff;
  font-size: 1.6rem;
  border: 0;
  border-radius: 3px;
  padding: 8px 14px;
  cursor: pointer;
  background: $button_primary_bg;
  &:hover {
    opacity: 0.9;
  }
  &:active, &:focus {
    opacity: 1;
    background: $button_primary_bg_active;
  }
}

.clearfix:after { 
	content: ""; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}

.floating-button {
	height: 54px;
	width: 54px;
	background-color: rgba(60, 63, 79, 0.75);
	position: fixed;
	z-index: 999;
	border-radius: 50%;
	cursor: pointer;
	@include transition(all, 0.2s, ease-out);
	display: block;
	box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
	&:hover {
		box-shadow: 0 0 6px rgba(0,0,0,.20), 0 6px 12px rgba(0,0,0,.36);
	}
}

#to-top {
	@extend .floating-button;
	display: none;
	z-index: 997;
	top: calc(50% - 27px);
	right: 24px;
	@include transition(box-shadow, 0.2s, ease-out);
	.glyphicon {
		font-size: 29px;
		color: $white_opaque;
		position: absolute;
		top: 13px;
		left: 11px;
	}
}

#header {
	margin: 0 2.5%;
}

#descript {
	padding: 88px 0 92px 8%;
	margin: 0;
	color: $white_opaque;
	float: left;
  a {
    color: $white_opaque;
    h1 {
      font-size: 6rem;
      margin: 0;
    }
    h3 {
      font-size: 2.5rem;
      margin: 0;
      font-family: 'Pacifico'
    }
  }
}
@media (max-width: 768px) {
	#descript {
		float: none;
		width: 560px;
		margin: 0 auto;
	}
}
@media (max-width: 590px) {
	#descript {
    width: 420px;
    a {
      h1 {
        font-size: 4.5rem;
      }
      h3 {
        font-size: 2rem;
      }
    }
	}
}

.page-wrapper {
	margin: 0px auto;
	max-width: 1650px;
	position: relative;
}

.block-wrapper {
	background-color: $white_opaque;
	box-shadow: $wrapper_shadow;
	border-radius: 7px;
}

.main-content-wrapper {
	@extend .block-wrapper;
	width: calc(95% - 2.5% - 300px);
	float: left;
	margin: 0 2.5% 70px 2.5%;
	padding: 60px 8% 70px 8%;
}

.sidebar-wrapper {
	@extend .block-wrapper;
	width: 300px;
	float: left;
	margin: 0 2.5% 70 0;
	padding: 30px 35px 60px 35px;
}
@media (max-width: 990px) {
  .main-content-wrapper {
    width: 95%;
    margin: 0 2.5% 30px 2.5%;
  }
  .sidebar-wrapper {
    width: 95%;
    margin: 0 2.5% 50px 2.5%;
    padding: 30px 8% 60px 8%;
  }
}

#main-nav {
	float: right;
	padding: 110px 0 0 0; 
	ul {
		margin-left: 20px;
		li {
			float: left;
			list-style: none;
			padding: 0 0 5px 15px;
			a {
				color: $white_opaque;
				border-bottom: 2px solid $white_opaque;
        font-size: 2.2rem;
				&:hover {
					color: $nav_link_active;
					border-bottom: 2px solid $nav_link_active;
				}
			}
		}
	}
}
@media (max-width: 1390px) {
	#main-nav {
		float: right;
		padding: 27px 0 0 0; 
		ul {
			li {
				float: none;
				padding-left: 0px;
			}
		}
	}
}
@media (max-width: 768px) {
	#main-nav {
		position: fixed;
		z-index: 998;
		width: 100%;
		height: 100%;
		background-color: rgba(60, 63, 79, 0.95); 
		top: 0;
		left: -100%;
		@include transition(left, 0.3s, ease);
		ul {
			li {
				position: relative;
				padding: 0 0 25px 15px;
				a {
					border: 0px;
          font-size: 2.5rem;
					&:hover {
						color: $white_opaque;
						border-bottom: 0;
					}
				}
				&:after {
					content: '';
					position: absolute;
					left: 15px;
					bottom: 20px;
					height: 3px;
					width: 60px;
					background-color: $mobile_menu_underscore;
				}
				&:hover {
					&:after {
						background-color: $mobile_menu_underscore_active;
					}
				}
			}
		}
		&.active {
			left: 0;
		}
	}	
}

//header {
//	background-color: #3498db;
//	width: 100%;
//	height: 200px;
//	overflow: hidden;
//	position: fixed;
//	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
//}

.nav-toggle {
	@extend .floating-button;
	top: 24px;
	right: 24px;
	-webkit-transform: scale(1);
	transform: scale(1);
	&.active {
		background-color: $white_opaque;
	}
}
@media (min-width: 768px) {
	.nav-toggle {
		display: none;
	}
}

.bar {
	background-color: #D4D4DC;
	width: 24px;
	height: 3px;
	border-radius: 5px;
	right: 15px;
	top: 18px;
	&.active {
		background-color: #3C404F;
	}
}

.first {
	position: absolute;
  @include transition(all, 0.2s, ease-out);
	&.active {
		margin-top: 8px;
		-webkit-transform-origin: 50% 50%;
		-moz-transform-origin: 50% 50%;
		-o-transform-origin: 50% 50%;
		-ms-transform-origin: 50% 50%;
		transform-origin: 50% 50%;
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
		-webkit-transition: all 0.2s ease-out;
	}
}

.second {
	margin-top: 8px;
	position: absolute;
	@include transition(all, 0.2s, ease-out);
	&.active {
		opacity: 0;
		margin-top: 8px;
		@include transition(all, 0.2s, ease-out);
	}
}

.third {
	margin-top: 16px;
	position: absolute;
	@include transition(all, 0.2s, ease-out);
	&.active {
		margin-top: 8px;
		-webkit-transform-origin: 50% 50%;
		-moz-transform-origin: 50% 50%;
		-o-transform-origin: 50% 50%;
		-ms-transform-origin: 50% 50%;
		transform-origin: 50% 50%;
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		transform: rotate(-45deg);
		@include transition(all, 0.2s, ease-out);
	}
}

// Main Content

#main-content {
  position: relative;
  h1 {
    margin: 20px 0 50px 0;
  }
  ul {
    li {
      list-style: disc;
      margin-left: 20px;
    }
  }
}

.corner-link {
  position: absolute;
  top: 0;
  right: 0;
  i {
    font-size: 3rem;
  }
}

.admin-link {
  font-size: 1.6rem;
  margin-left: 15px;
  line-height: 2;
}

.fr-toolbar {
  border-top: 1px solid #B7C7CB;
}

.bx-wrapper {
  border: 0;
  box-shadow: 0 2px 12px rgba(0,0,0,.35);
  a {
    @include transition(all, 0s, ease-out);
  }
  li {
    margin-left: 0px !important;
  }
}

.bx-wrapper .bx-pager.bx-default-pager a {
  background: $content_link;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus {
  background: $content_link_active;
}

.bx-prev, .bx-next {
  opacity: 0.6;
  &:hover {
    opacity: 0.8;
  }
}

// Sidebar

#sidebar {
  h3 {
    text-align: center;
    margin-bottom: 20px;
  }
}

.sidebar-unit {
  width: 100%;
  margin-bottom: 40px;
  &:last-child {
    margin-bottom: 0px;
  }
}
@media (max-width: 990px) {
  .sidebar-unit {
    float: left;
    width: calc(50% - 20px);
    margin-bottom: 20px;
    &:nth-child(odd) {
      margin-right: 40px;
    }
  }
}
@media (max-width: 500px) {
  #sidebar {
    h3 {
      margin-bottom: 30px;
    }
  }
  .sidebar-unit {
    float: none;
    width: 100%;
    &:nth-child(odd) {
      margin-right: 0;
    }
  }
}

.sidebar-image {
    width: 100%;
}

// Footer

.footer-wrapper {
  padding: 0 2.5%;
}

#footer {
	background: $footer_bg;
	width: 100%;
  padding: 40px 0 0 0;
  a {
    color: $footer_link;
    &:hover, &:active, &:active {
      color: $footer_link_active;
    }
  }
  h1, h3, p {
    color: $white_opaque;
  }
}

.footer-blocks{
  margin: 0 0 40px 0;
  h1 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 40px;
  }
  h3 {
    font-family: 'PT Sans'
  }
  ul {
    width: 238px;
    margin: 0 auto;
    li {
      color: $white_opaque;
      font-size: 2rem;
    }
  }
}
@media (max-width: 768px) {
  .footer-blocks {
    margin: 0 0 70px 0;
    h1 {
      margin-bottom: 30px;
    }
  }
}

.divider{
  width: 100%;
  height: 1px;
}

#contacts {
  line-height: 1.8;
  .address {
    margin-top: 15px;
  }
}

#social {
  a {
    i {
      @include transition(all, 0.2s, ease-out);
      font-size: 4rem;
      color: $social_icons;
      &:hover, &:active, &:active {
        color: $footer_link_active;
      }
    }
    margin-right: 15px;
    &:last-child {
      margin-right: 0;
    }
  }
}

#social-aligner {
  width: 280px;
  margin: 0 auto;
}

#testimonials {
  .name {
    float: left;
  }
  .link {
    float: right;
    font-size: 1.8rem;
    margin-top: 19px;
    color: $footer_link;
  }
}

#testimonials-aligner {
  max-width: 350px;
  margin: 0 auto;
}

#friends-aligner {
  max-width: 270px;
  margin: 0 auto;
}

.friends-link {
  margin: 0 10px 0 0;
  opacity: 0.80;
  img {
    width: 80px;
  }
  &:last-child {
    margin: 0;
  }
  &:hover {
    opacity: 1;
  }
}
@media (max-width: 1250px) {
  #friends-aligner {
    max-width: 240px;
  }
  .friends-link {
    img {
      width: 70px;
    }
  }
}
@media (max-width: 1200px) {
  #friends-aligner {
    max-width: 310px;
  }
  .friends-link {
    margin: 0 15px 0 0;
    img {
      width: 90px;
    }
  }
}

#google-map {
  height: 400px;
  width: 100%;
  margin: 20px 0 0 0;
}

#copy {
  float: left;
  margin: 10px 0;
}

#credits {
  float: right;
  margin: 10px 0;
}
@media (max-width: 768px) {
  #copy, #credits {
    float: none;
    text-align: center;
    margin: 15px 0;
  }
}


