var message_sent = '<p>Your booking message was sent. We will carefully read it and respond as soon as possible. Thank you! <i class="fa fa-smile-o"></i></p>';

$('#book-course-wrapper').find('form').hide();
$('#book-course-wrapper').append(message_sent);