var message_sent = '<p>Your message was sent. We will carefully read it and respond as soon as possible. Thank you! <i class="fa fa-smile-o"></i></p>';

$('#contact-form-wrapper').find('form').hide();
$('#contact-form-wrapper').append(message_sent);